export(getDefaultOpts)
export(gfa)
export(informativeNoisePrior)
export(reconstruction)
export(robustComponents)
export(sequentialGfaPrediction)
export(normalizeData)
export(undoNormalizeData)
export(visualizeComponents)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "axis", "box", "image", "lines", "par", "polygon", "text")
importFrom("stats", "cor", "dist", "hclust", "rgamma", "rnorm", "runif", "sd", "t.test")
